/* ===============================
   DESKTOP VIEW
================================ */

@media screen and (min-width:640px){


header {

    flex-direction:row;
    justify-content:space-between;
    padding:1rem 5%;

}


#menu,
#menu-toggle {

    display:none;

}



.navigation,
nav ul {

    display:flex;
    gap:30px;

}


.navigation li,
nav li {

    margin:0;

}



/* MAIN */

main {

    max-width:1200px;
    margin:auto;

}



/* HERO */

.hero-content {

    left:20%;
    right:20%;

}



/* HOME CARDS */


.cards {

    grid-template-columns:
    repeat(3,1fr);

}



/* DIRECTORY */

.grid {

    grid-template-columns:
    repeat(3,1fr);

}


.member-card {

    min-height:300px;

}



/* FOOTER */


footer {

    display:flex;
    justify-content:space-around;
    text-align:left;

}



}